body,h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
}

.w3-bar,h1,button {
  font-family: 'KoHo', sans-serif;
}


.w3-twothird{
  padding-left: 10px;
}

.w3-code{
    text-align: left;
}

.w3-text-grey{
  padding-left: 10px;
}

.w3-text-blue{
  padding-left: 10px;
  font-size: 15px;
  font-weight: 700;
}
.w3-text-red{
  padding-left: 10px;
  font-size: 15px;
}

#pannellotext{
  border-radius: 5ch;
  width: 90%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.containerp { 
display: inline;
}







#regi{
  max-width: 180px;
}

.grassetto{
  color: black;
  font-weight: 700;
}

.grassetto-arch{
  color: black;
  font-weight: 700;
  padding-left: 10px;
}
.grassetto-gr{
  color: #757575!important;
  font-weight: 200;
}
.grassetto-compose{
  color: rgb(187, 71, 187);
  font-weight: 700;
}
.grassetto-com{
  color: #2196F3;
  font-weight: 700;
}
.grassetto-path{
  color: red;
  font-weight: 700;
}

.grassetto-links{
  font-weight: 700;
  color: black;
}

.dockerfile{
padding-left: 10px;
}

.images{
  padding-top: 10px;
  padding-left: 10px;
}

.container{
  padding-left: 10px;
  padding-top: 10px;
}