body,h1,h2,h3,h4,h5,h6 {
  font-family: 'Lato', sans-serif;
}

.w3-bar,h1,button {
  font-family: 'KoHo', sans-serif;
}


.w3-twothird{
  padding-left: 10px;
}

.w3-code{
    text-align: left;
}

.w3-text-grey{
  padding-left: 10px;
}

.w3-text-blue{
  padding-left: 10px;
  font-size: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}